.character{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 170px;
    margin-top: -70px;
    align-items: center;
    justify-content: flex-start;
    height: 74.69vh;
}

.character__info{
    flex: 1;
    flex-direction: column;
}

.character__name{
    color: lightgrey;
    font-size: 30px;
    font-weight: bold;
}

.character__house{
    font-weight: bolder;
    font-size: 22px;
}

.character > img{
    max-height: 500px;
    max-width: 340px;
    margin:10px;
    top: 0;
}